body {
    /*background-color: black;*/
    background-image: url(images/full-moon.jpg);
    background-position: inherit;

    background-size: 25%;
}

h6 {
    color: gray
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white
}

p {
    font-family: monospace, 'Monaco';
    color: white
}

#rcorners1 {
    border-radius: 25px;
    border-color: gray
}

img {
    float: right;
    width: 40%
}

button {
    font: 100;

    background-color: #cccccc; /* Green */
    border-radius: 30px;
    border-color: #cccccc00;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    display: block;
    margin: auto;

    /*transition-duration: 0.4s;*/
}

button:hover {
    /* border-radius: 40px; */
    /* padding: 15px 40px; */
    background-color: #a8a8a8
}

button:active {
    width: auto;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: black;
}
  
/* visited link */
a:visited {
    text-decoration: none;
    color: black;
}
  
/* mouse over link */
a:hover {
    text-decoration: none;
    color: black;
}
  
/* selected link */
a:active {
    text-decoration: none;
    color: black;
}